.container .row h1 span{
  color: #f00202;
  font-weight: bold;
  font-size: 70px;
}
.container .row h1{
  font-size: 70px;

}
.main-btn{
  background: #f00202 !important;
  border: none !important;
  box-shadow: none !important;
}

@media (max-width:497px) {
    
}