.navbar-custom{
  background: transparent ;
}
.navbar-toggler{
  border: none !important;
}
.navbar-toggler:focus{
  box-shadow: none !important;

}
.nav-item .active{
  color: #fa0000 !important;

}
.nav-link{
  font-size: 20px !important;
  font-weight: 600 !important;
}

.hover-red:hover,
.hover-red:active{
  color: #fa0000 !important ;
}

.hide{
  display: none !important;
}

.view{
  display: block !important;
}